<div>
<mat-toolbar color="primary">

    <span class="title">Dashboard</span>
    <span class="spacer"></span>

    <button mat-icon-button [routerLink]="['/settings']" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ currentRole }}
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setRole('Admin')">Admin</button>
        <button mat-menu-item (click)="setRole('Viewer')">Viewer</button>
    </mat-menu>

</mat-toolbar>

<div class="tableUI">
<app-datatable 
[data]="data" 
[columns]="['ID', 'Name', 'Email', 'Role', 'Address', 'Skills']"
(rowSelected)="onRowClick($event)"
></app-datatable></div>
</div>